<div style="text-align: left;">
    <a href="http://www.mint.hr/default.aspx" target="_blank"><img class="desni-panel" src="http://www.mint.hr/img/mint-logo.png"></a>
    <a href="http://www.croatia.hr/" target="_blank"><img class="desni-panel" src="http://www.mint.hr/UserDocsImages/HTZ 2016 log-w.jpg"></a>
    <a href="http://www.esf.hr/" target="_blank"><img class="desni-panel" src="http://www.mint.hr/UserDocsImages/ESF_logot.JPG"></a>
    <a href="https://www.gov.hr/" target="_blank"><img class="desni-panel" src="http://www.mint.hr/UserDocsImages/www.gov.hr_web_015.jpg"></a>
    <a href="http://psc.hr/uvjeti-za-obavljanje-djelatnosti/" target="_blank"><img class="desni-panel" src="http://www.mint.hr/UserDocsImages/PSC_hr2017.JPG"></a>
</div>