<div style="text-align: left;">
    <a href="http://www.mint.hr/default.aspx" target="_blank"><img class="desni-panel" src="/Slike/hrvatskaZastava.png"></a>
    <a href="https://www.htz.hr/hr-HR" target="_blank"><img class="desni-panel" src="/Slike/htz.png"></a>
    <a href="https://strukturnifondovi.hr/" target="_blank"><img class="desni-panel" src="/Slike/fondovi.gif"></a>
    <a href="https://www.gov.hr/" target="_blank"><img class="desni-panel" src="/Slike/sredisnjiPortal.png" ></a>
    <a href="http://psc.hr/uvjeti-za-obavljanje-djelatnosti/" target="_blank"><img class="desni-panel" src="/Slike/kontaknaTocka.png"></a>
    </div>